@charset "UTF-8"; 

form { /* Aula 36: */
	width: 500px; /* Largura */
	margin: auto; /* Margens automáticas, dessa forma o texto vai ficar centralizado. */
}

input, textarea { /* Formatação das tags input e textarea juntas */
	font-family: sans-serif; /* Fonte sem serifa */
	font-weight: normal; /* Peso da fonte: normal significa que não vai ter negrito */
	font-size: 13pt; /* Tamanho da fonte */
	background-color: rgba(255,255,255,.7); /* Cor de fundo branca, com um pouco de transparência para o objeto de fundo do fieldset não ficar cortado */
}

input:hover, textarea:hover {
	background-color: #dddddd; /* Troca a cor de fundo quando passar o mouse em cima */
}

legend {
	color: #888888;
	font-weight: bold;
	font-size: 13pt;
	font-family: sans-serif;
}

fieldset {
	border-color: #cecece;
	margin: 20px;
}

fieldset#sexo {
	width: 150px;
}

fieldset#usuario {
	background: url("../_imagens/icone-contato.png") no-repeat 95% 95%; /* Aula 36: Adicionando imagem de fundo ao Fieldset: 1º 95% - alinhamento lateral; 2º 95% - alinhamento vertical */
}

fieldset#endereco {
	background: url("../_imagens/icone-endereco.png") no-repeat 95% 95%;
}

fieldset#mensagem {
	background: url("../_imagens/icone-mensagem.png") no-repeat 95% 95%;
}

fieldset#pedido {
	background: url("../_imagens/icone-pagamento.png") no-repeat 95% 95%;
}